<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
            <li role="presentation"><a href="/users/auth/facebook">Facebook</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Monthly Red</h3>
      </div>
      {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}
      {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}
      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}
      {{{body}}}
      <footer class="footer">
        <p>&copy; 2017 Monthly Red</p>
      </footer>
  </body>
</html>
