<table class="table">
<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
</tr>
{{#each user}}
<tr>
  <td>{{firstName}}{{facebook.firstName}}</td>
  <td>{{lastName}}{{facebook.lastName}}</td>
  <td>{{email}}{{facebook.email}}</td>
</tr>
{{/each}}
</table>
