<div class="container">
  <div class="row adminButtons">
    <div class="col-sm-4 col-md-4 adminButton1">
      <a href="/dashboard" class="textbuttons">Dashboard</a>
    </div>
    <div class="col-sm-4 col-md-4 adminButton2">
      <a href="/dashboard/orders" class="textbuttons">Orders</a>
    </div>
    <div class="col-sm-4 col-md-4 adminButton3">
      <a href="/dashboard/quizresults" class="textbuttons">Quiz Results</a>
    </div>
  </div>

  {{#each quiz}}
  <div class="quiz-content-answers">
    <p>Name: {{this.firstName}} {{this.lastName}}</p>
    <p>Email: {{this.email}}</p>
    <p>Answer 1: {{this.answer1}}</p>
    <p>Answer 2: {{this.answer2}}</p>
    <p>Answer 3: {{this.answer3}}</p>
    <p>Answer 4: {{this.answer4}}</p>
    <p>Answer 5: {{this.answer5}}</p>
  </div>
  {{/each}}
</div>
